<div class="col-lg-12" [@fadeIn]>
  <h1>{{title}}</h1>
  <div class="row">
    <div class="col-lg-3" *ngFor="let n of animals">
      <div class="card">
        <img *ngIf="n.image" src="{{url + '/get-image-animal/'+ n.image}}" class="card-img-top" alt="{{n.name +'image'}}">
        <img *ngIf="!n.image" src="https://via.placeholder.com/200x135" class="card-img-top" alt="{{n.name +'image'}}">
        <div class="card-body">
          <h5 class="card-title">{{n.name}}</h5>
          <p class="card-text">
            {{n.description}}
          </p>
          <a [routerLink]="['/animal', n._id]" class="btn btn-primary">Ver animal</a>
        </div>
      </div>
    </div>
  </div>
</div>
