<h3>{{title}}</h3>
<form>
  <div class="form-group">
    <label for="nombre">nombre</label>
    <input type="text" class="form-control" id="nombre">
  </div>
  <div class="form-group">
    <label for="description">description</label>
    <textarea class="form-control" id="description" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="year">Año</label>
    <input type="text" class="form-control" id="year">
  </div>
  <button type="submit" class="btn btn-primary"> Crear nuevo</button>
</form>
